{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "",
    "PG_HOST": "tuservidor.postgres.database.azure.com",
    "PG_PORT": "5432",
    "PG_DATABASE": "RegistroCodigos",
    "PG_USER": "tuusuario",
    "PG_PASSWORD": "tucontraseña",
    "PG_SSL": "true"
  }
}
